.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 14px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
   width: 500px;

  
  
}


.box-container {
  
  padding-top: 5%;
  align-tems: center;
  align-text: center;
  display: flex;
  justify-content: center;
   position: relative;
  
  
}



.Button-1 {
  cursor: pointer;
  margin-top: 14px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: cyan;

  width: 500px;
  
  
}


.center-things{

  display: flex;
  align-self: center;
   display: flex;
  justify-content: center;
   position: relative;
  
}


.center-things1{



  display: flex;
  align-self: center;
  display: flex;
  justify-content: center;
  position: relative;

  font-weight: bold;
  font-size: 13px;
}


